In [2]:
print("Hello World")

Hello World

In [3]:
var = "Korea Utara"
print(var)

Korea Utara

In [4]:
type(var)

str

In [5]:
a,b,c,d = "Nama saya","Nani","Umur: ",15

print(a)
print(b)
print(c)
print(d)

Nama saya
Nani
Umur:
15

In [6]:
x = y = z = "Nano"
print(x)
print(y)
print(z)

Nano
Nano
Nano

In [7]:
y="Nako"

In [10]:
print(z)

Nano

In [13]:
a=51

In [18]:
a=45
if a%2==0:
    print("genap")
elif a%5==0:
    print("Dibagi 5 bisa")
else:
    print("ganjil")

Dibagi 5 bisa

In [45]:
g=input()

640912863264763745376548235472534523894623984798237

In [47]:
type(int(g))

int

In [31]:
print(g)

15

In [34]:
for i in range(10):
    if i%5==0:
        print(str(i)+" adalah kelipatan 5")

0 adalah kelipatan 5
5 adalah kelipatan 5

In [44]:
for i in range(10,1,-1): # Start STop Step
    print(i)

10
9
8
7
6
5
4
3
2

Check prime 2 sampai 50

In [54]:
for i in range(2,51):
    flag=True
    for j in range(2,i):
        if i%j==0:
            flag=False
            break
    if flag:
        print(i,"Prima")
    else:
        print(i,"bukan prima")

2 Prima
3 Prima
4 bukan prima
5 Prima
6 bukan prima
7 Prima
8 bukan prima
9 bukan prima
10 bukan prima
11 Prima
12 bukan prima
13 Prima
14 bukan prima
15 bukan prima
16 bukan prima
17 Prima
18 bukan prima
19 Prima
20 bukan prima
21 bukan prima
22 bukan prima
23 Prima
24 bukan prima
25 bukan prima
26 bukan prima
27 bukan prima
28 bukan prima
29 Prima
30 bukan prima
31 Prima
32 bukan prima
33 bukan prima
34 bukan prima
35 bukan prima
36 bukan prima
37 Prima
38 bukan prima
39 bukan prima
40 bukan prima
41 Prima
42 bukan prima
43 Prima
44 bukan prima
45 bukan prima
46 bukan prima
47 Prima
48 bukan prima
49 bukan prima
50 bukan prima

In [56]:
50//2

25

In [57]:
nilai = [12,3,43,453,5,34,5,23]

In [59]:
for i,k in enumerate(nilai):
    print(i,k)

0 12
1 3
2 43
3 453
4 5
5 34
6 5
7 23

In [60]:
for i in range(len(nilai)):
    print(i,nilai[i])

0 12
1 3
2 43
3 453
4 5
5 34
6 5
7 23

In [61]:
for item in nilai:
    print(item)

12
3
43
453
5
34
5
23

range(0, 10)

In [64]:
bulan = ("Jan","Feb","Mar")

In [65]:
bulan[0]="januari"

TypeError: 'tuple' object does not support item assignment

In [66]:
nilai

[12, 3, 43, 453, 5, 34, 5, 23]

In [67]:
nilai.append(50)

In [68]:
nilai

[12, 3, 43, 453, 5, 34, 5, 23, 50]

In [72]:
nilai.insert(3,30)

In [73]:
nilai

[12, 3, 43, 30, 453, 5, 34, 5, 23, 50, 3]

In [74]:
pangkat = lambda x: x**2

In [75]:
pangkat(5)

25

In [77]:
print("\\n")

\n

In [79]:
import random

print(random.random())

print(random.randint(1,100))

0.28971807917995573
28

In [80]:
import statistics
nilai

[12, 3, 43, 30, 453, 5, 34, 5, 23, 50, 3]

In [81]:
statistics.mean(nilai)

60.09090909090909